.cities {
    display: flex;
    gap: 2em;
    font-size: 1.2em;
    color: black;
    font-weight: 500;
    font-family: monospace;
}

.cities span:hover {
    color: red;
    text-decoration: line-through;
    cursor: pointer;
}

.weather {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
}

.weathers {
    display: inline-flex;
    gap: 10px;
}